body{
    margin: 0px;
}
/*body header*/
#body-header{
    height: 70vh;
    opacity: 1;
    background-image: url(images/headerBackground.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#body-header h1 {
    color: white;
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    padding-top: 0.5rem;
}

/*horizontal list*/

.horizontal-list{
    list-style: none;
    padding: 24px 0px 0px;
}
.horizontal-list li{
    display: inline-block;
}
.horizontal-list li a{
    font-weight: 900;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    transition: color 0.5s,border-bottom 1s;
}
.horizontal-list li a:hover{
    color: rgba(255, 255, 255, 0.63);
    border-bottom: whitesmoke 1px solid;
}
.text-center{
    text-align: center;
}
/*contact us*/
.social-icons{
    list-style: none;
}
.social-icons li a i{
    list-style: none;
    padding: 1px;
    font-size: 1rem;
    border-radius: 70%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgb(218, 211, 211);
}